* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  ba
}

body {
  background: #000;
  color: rgb(1, 255, 255);
  line-height: 1.6;
  background-image: url("images/491362538070.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  cursor: url(images/cursor.png), auto;

}

header {
  background: linear-gradient(90deg, black 0%, rgb(1, 255, 255) 100%);
  color: black;
  text-align: center;
}
header h1{
  font-size: calc(2vw + 2vh + 1vmin);
  text-align: center !important;
}

nav {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vh 0;
  background: linear-gradient(90deg, black 0%, rgb(1, 255, 255) 100%);
  width: 100vw;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  color: rgb(1, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  font-size: 1.5em;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: rgb(1, 255, 255);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s ease-in-out;
}
nav ul li a:hover{
  color: rgb(1,255,255);
  cursor: url(images/cursor2.png), auto;
}
nav ul li a:hover::after {
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 2em;
}

.intro .text-wrapper {
  margin-left: 20px;
  text-align: center;
}

.intro img {
  border-radius: 50%;
  width: 25vw;
  max-width: 40vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}
.intro h2{
  font-size: 2em;
}
.intro p{
  text-align: center;
  font-size: 1em;
}
.intro span{
  font-size: 3em;
  color:  rgb(1, 255, 255);
}

footer {
  background: black;
  color: rgb(1, 255, 255);;
  text-align: center;
  padding: 1vh;
}
.aboutme{
  color: white;
  text-align: justify;
}
.aboutme h1, .aboutme h2, .aboutme h3 {
  color: rgb(1, 255, 255);
  font-size: 4em;
}
.aboutme p{
  font-size: 2em;
  display: inline-block;
  margin-bottom: 2em;
}
.aboutme p, .aboutme li {
  font-size: 2em;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 3fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  gap: 1em;
  margin: 2em auto;
  max-width: 750px;
}

.img-container, .text-box {
  text-align: center;
}

.wrapper img {
  width: 6em;
  height: auto;
  margin-right: 1em;
  margin-left: 1em;
}

.wrapper p,
.wrapper a {
    word-break: break-word !important;
}
.contacts{
  font-size: 1.75em;
}
.contacts img{
  width: 2em;
  height: auto;
}
footer {
  text-align: center;
  background-color: transparent;
  width: 100%;
  bottom: 0.1;
}

@media screen and (max-width: 1000px) {
  .intro h2 {
    font-size: 1.25rem;
  }
  .intro p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro h2 {
    font-size: 1.5rem;
  }
  .intro p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .intro h2 {
    font-size: 1rem;
  }
  .intro p {
    font-size: 0.6rem;
  }
}
